<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandra.movieverse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_movieverse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_movieverse_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".widget.MovieverseWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movieverse_widget_info" />
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.YoutubePlayerActivity" />

        <provider
            android:authorities="com.nandra.movieverse.contentprovider.favorite"
            android:name=".contentprovider.MovieverseContentProvider"
            android:readPermission="com.nandra.movieverse.READ_DATABASE"/>
    </application>

</manifest>